/* GENERAL */
:root {
  --text: #444444;
  --main: #00679c;
  --dark: #005782;
  --darker: #003D5C;
  --light: #0070A8;
  --ultra-light: #dbe7ed;
  --accent: #ef7a33;
  --accent-light: #FC8135;
  --accent-dark: #D66E2D;
  --secondary: #cececd;
  --secondary-dark: #919399;
  --secondary-darker: #555659;
  --secondary-light: #dfdfde;
  --secondary-ultra-light: #f2f2f3;
  --white: #ffffff;
  --red: #F83E5A;
  --red-dark: #DE3750;
  --highlight: #eeff00;
  --font-family: 'Open Sans', sans-serif;
}

/* FONTS */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-light.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-lightitalic.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-regular.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-italic.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-bold.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-bolditalic.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-semibold.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/opensans-semibolditalic.woff2") format("woff2"),
       url("../fonts/Open_Sans/opensans-semibolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/RobotoMono-Regular.woff2") format("woff2"),
       url("../fonts/Roboto_Mono/RobotoMono-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/RobotoMono-Bold.woff2") format("woff2"),
       url("../fonts/Roboto_Mono/RobotoMono-Bold.woff") format("woff");
  font-weight: 700;
}